.user-dashboard {
  padding: 0 20px;
  background-color: #D9D9D9;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; 

.user-dashboard h1 {
  color: black;
  font: Poppins;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  padding: 21px 0;
  
}
.username{
  color:#760E53
}
.num{
  color:#760E53;
  font-weight: 1000;
}
/* .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle>span {
    font-size: 11px;
} */

/* .user-dashboard .welcome-text button {
    font-size: 11px;
    padding-right: 23px;
} */

/* .user-dashboard .welcome-text h2 {
    font-size: 14px;
}

.user-dashboard h1 {
    font-size: 25px;
} */

@media only screen and (min-width: 767px) and (max-width: 998px) {
  .user-dashboard .header-top {
    padding-top: 5px;
  }

  .user-dashboard .header-rightside {
    display: inline-block;
    /* float: left; */
    width: 100%;
  }

  .user-dashboard .header-rightside .header-top img {
    max-width: 41px !important;
  }

  /* .user-dashboard .welcome-text button {
    font-size: 10px;
  } */

  .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 12px;
  }

  /* .user-dashboard .welcome-text h2 {
    font-size: 16px;
  } */
}

.register{
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.row_dbHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.gutter {
  
  padding: 10px;
}

.welcome-text h2{
  font: Poppins;
  color: #760E53;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;

}

.register {
  background-color: transparent;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.1rem !important;
  padding: 9px, 33px, 9px, 33px;
  border-radius: 35px;
  width: 176px;
  height: Fixed (40px);
  top: 580px;
  left: 1045px;
  border: 2px;
  gap: 10px;
  border: 2px solid rgba(118, 14, 83, 1);
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  color: #760E53;
}

.register:hover {
  background-color: #760E53;
  color: white;
  transition: ease-out;
  transition-duration: 300ms;
}

.register:focus {
  color: #ffffff;
}

.welcome-text {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #D9D9D9;
  display: inline-block;
  padding: 15px;
  width: 100%;
  border-radius: 20px;
}

/* .welcome-text button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #dadee7;
  border-radius: 100px;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-right: 32px;
  color: rgb(0, 78, 0);
}

*/

/* .welcome-text button::before {
  content: 'ï„‡';
  font-family: FontAwesome;
  position: absolute;
  right: 12px;
  top: 11px;
}

*/

.welcome-text .btn-group {
  float: right;
}

.welcome-text h3 {
  color: black;
  /* float: left; */
  font: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0;
  line-height: 30px;
}

.welcome-text .btn-group.open .dropdown-toggle,
.btn.active,
.btn:active {
  box-shadow: none;
}

.welcome-text .dropdown-menu > a {
  color: #760E53;
  display: inline-block;
  font-weight: 800;
  padding: 9px 0;
  text-align: center;
  width: 100%;
}

.welcome-text .dropdown-menu > a:hover {
  color: #B4147E;
}

@media only screen and (max-width: 767px) {
  .user-dashboard .welcome-text h3 {
    color: black;
    /* float: left; */
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0;
  }

  .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 11px;
  }

  .user-dashboard .welcome-text button {
    /* font-size: 11px; */
    padding-right: 23px;
  }

  .user-dashboard .welcome-text h2 {
    font-size: 16px;
  }

  .user-dashboard h1 {
    font-size: 25px;
  }

  .gutter {
    padding: 6px;
  }
}

.text-justify {
  text-align: justify !important;
}

@media screen and (min-width: 100px) {
  .widthAdjust {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .user-dashboard h1 {
    font-size: 25px;
  }
}

.text-justify{
  font:Poppins;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

 /*.linkbutton_db {
  background: none;
  border: none;
  font-weight: 700;
  color: #0d6efd;
}

@media screen and (max-width: 767px) {
  .linkbutton_db {
    font-size: inherit !important;
    padding-right: inherit !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 998px) {
  .linkbutton_db {
    font-size: inherit !important;
    padding-right: inherit !important;
  }
}

.btnform{
  margin-top: 15px;
  margin-left: -13px;
  background: limegreen ;
  border-radius: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  position: relative;
} */