#gallery {
  background-image: url('./../../../assets/bg/bg_football.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container_gallery {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container_gallery {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_gallery {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container_gallery {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container_gallery {
    max-width: 1140px;
  }
}

.row_gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.heading-section_gallery {
  z-index: 0;
}

.heading-section_gallery .subheading_gallery {
  font-size: 30px;
  display: block;
  margin-bottom: 15px;
  margin-left: 15px;
  color: #000;
  line-height: 1;
  z-index: 1;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: 'League Spartan';
}

.heading-section_gallery h2 {
  z-index: -1;
  font-size: 50px;
  position: relative;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-left: 15px;
  font-family: 'League Spartan';
}

@media (max-width: 767.98px) {
  .heading-section_gallery h2 {
    font-size: 30px;
  }

  .heading-section_gallery .subheading_gallery {
    font-size: 20px;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

.ftco-animate_gallery {
  opacity: 0;
  visibility: hidden;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox_gallery img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox_gallery img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
}

.tz-gallery img {
  border-radius: 4px;
}

.image-popup_gallery {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.gallery-heading {
  font-family: 'League Spartan';
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.boldClass {
  font-weight: 700;
  font-family: 'League Spartan';
  font-size: 26px;
}
.imageMarginGallery {
  padding-left: 15px;
  padding-right: 15px;
}

.padSect {
  padding: 7em 0;
  position: relative;
}

.height_gallery {
  width: 100%;
}
.carousel_gallery .control-dots {
  display: none;
}

.carousel_gallery .carousel-status {
  display: none;
}
