@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.events-heading {
  font-family: 'League Spartan';
  text-align: center;
  color: #760E53;
  font-size: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 800;
}

.events-table {
  font-size: 17px;
  margin-top: 10px;
}

.events-table th.middle-column {
  max-width: 55vw;
  /* min-width: 55vw; */
  border: 1px solid black;
}

.events-table .left-column {
  padding-right: 10px;
  line-height: 1;
  /* min-width: 66px; */
  border: 1px solid black;
  border-right: none;
}

.events-table .right-column {
  padding-left: 10px;
  /* min-width: 122px; */
  border: 1px solid black;
  border-left: none;
}

.events-table .middle-column {
  padding-left: 10px;
  padding-right: 10px;
}

.events-table th,
td {
  padding: 10px;
}

.events-table tr th {
  color: white;
}

.events-table tr{
  font-weight: 500;
  color: black;
  text-align: center;
}

.events-table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.events-table td,
.events-table th {
  border: 1px solid #760E53;
  padding: 8px;
}

.events-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.events-table tr:hover {
  background-color: #B4147E;
  color: white;
}

.modal-table td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
}
.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #760e53;
  border-radius: 200px;
}

.events-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #B4147E;
  color: white;
}

.register-now {
  background: white;
  border: medium none;
  border-radius: 100px;
  color: #760E53;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  position: relative;
  border: 1px solid #760E53;
}

.register-now:hover {
  color: #ffffff;
  background: #760E53;
}

.register-now:focus {
  color: #ffffff;
}

.modal-body textarea {
  border: 1px solid #d4d9e3;
  font-size: 14px;
  font-weight: 300;
  height: 200px;
  margin-top: 5px;
  padding: 9px 10px;
  width: 100%;
  color: #8492af;
}

.modal-header.login-header h4 {
  color: #ffffff;
}

.login-header {
  display: inline-block;
  width: 100%;
  background: #760E53;
}

.login-header .navbar-right {
  margin-right: 0px;
}

.login-header .nav-tabs>li.active>a,
.login-header .nav-tabs>li.active>a:focus,
.login-header .nav-tabs>li.active>a:hover {
  background-color: transparent;
  border: none;
  color: #fff;
}

.login-header .nav-tabs>li>a {
  border: medium none;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  padding: 15px 30px;
  color: #fff;
}

.login-header .nav-tabs {
  border-bottom: none;
}

.login-header .nav-tabs>li {
  margin-bottom: 0px;
}

.login-header .nav>li>a:focus,
.login-header .nav>li>a:hover {
  background: none;
  text-decoration: none;
}

.login-header .nav-tabs>li.active {
  border-bottom: 6px solid limegreen;
}

.modal-header.login-header h4 {
  color: #ffffff;
}

.modal-footer .register-now {
  background: white;
  border: 2px solid #760E53;
  border-radius: 40px;
  color: #760E53;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
}

.modal-footer .register-now::before {
  display: none;
}

.modal-footer .register-now:hover {
  background: #760E53;
  color: white;
}

.modal-footer {
  border: 0 none;
  padding: 10px 15px 26px;
  /* text-align: right; */
  justify-content: center;
  gap: 9rem;
}

.cancel {
  background: white;
  border-radius: 40px;
  border: 2px solid #F71018;
  /* border-radius: 100px; */
  color: #F71018;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px;
  position: relative;
}

.cancel:hover {
  background: #F71018;
}
.alert-warning{
  background-color: #760E53;
}
.modal {
  top: 20%;
}

.modal-header .close {
  margin-top: 2px;
}

.search input:focus {
  border-bottom: 1px solid #760E53;
  line-height: 22px;
  transition: 0.1s all;
}
.form-control{
  border: 1px solid #760E53 !important;
}
.modal-header.login-header {
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*Main CSS*/
}
input{
  border: 1px solid #760E53 !important;
}
@media (max-width:998px) {
  .events-table tr{
    display: table-row !important;
  }
}
@media only screen and (max-width: 767px) {
  .events-table {
    font-size: 12px;
  }

  .register-now {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 998px) {
  .events-table {
    font-size: 14px;
  }
}
@media (max-width:500px) {
  .modal-footer {
    gap: 10px;
  }
}
@media (max-width:350px) {
  .register-now{
    font-size: 10px;
    padding: 5px 3px 5px 3px;
  }
}