.footbox {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	height: fit-content;
width: 100%;
}
.footer {
	margin-top: 5vh;
	display: flex;
	gap: 4vw;
	padding-left: 3vw;
	padding-right: 3vw;

	justify-content: center;
	background-image: linear-gradient(
		to right,
		white,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0),
		white
	);
	clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);


	
}
.info {
	text-align: center;

}
.info1 {
	font-weight: 600;
	font-size: 2vw;
}
.info2 {
	font-weight: 700;
	font-size: 5vh;
	display: flex;
	gap: 3vw;
	font-family: Helvetica Compressed;
}
.info3 {
	font-weight: 600;
	font-size: 1vw;
}
.logo1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	color: red;
	font-weight: 700;
	font-size: 2vh;
}

@media(max-width:1000px) and (min-width:1000px){
	.footer{
		margin-top: 10vh;}}
@media(max-width:800px){
	.footbox {
		width: 100%;
		display: flex;
		color: white;
		justify-content: center;
		align-items: center;
	}
	.info1{
		font-size: 2vh;
	}
	.info2{	font-size: 2.5vh;}
	.footer{
		margin-top: 10vh;
		width: 98vw;
		max-width: 600px;
	}
	.info3{
		margin: 0.5vh;
		font-size: 1.2vh;
	}
}

