.welcome-text {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d4d9e3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-dashboard {
    /* padding: 20px 0px; */
    overflow: auto;
    height: 75vh;
    margin-top: 20px;
  }
  .user-dashboard::-webkit-scrollbar {
    width: 10px;
  }
  
  .user-dashboard::-webkit-scrollbar-thumb {
    background-color: #760e53;
    border-radius: 200px;
}

.panel {
  box-sizing: border-box;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  background-color: #B4147E;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 8px 15px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
 
}

.panel-title {
  font-size: 18px;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  cursor: pointer;
}

.btn{
  color:#760E53;
  background-color:#ffffff ;
  border-width:2px ;
  padding: 10px 20px 10px 20px;
  border-color:#760E53;
  border-radius: 35px;
  margin:12px;
}

.btn:hover{
  background-color:#760E53;
  color: #ffffff;
  border-color:#760E53;
  transition: ease-out;
  transition-duration: 300ms;
}
.panel-body {
  border-top-color: #ddd;
  padding: 15px;
}

.container {
  padding: 10px 15px;
}

.input-wrapper {
  margin-bottom: 0 !important;
  
}

.sports-label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-left: 15px;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.input-wrapper input{
  border: 1px solid #760E53D9;
  width: 16px;
height: 16px;
top: 229px;
left: 415px;
border-radius: 3px;
margin:10px;
}



@media only screen and (min-width: 992px) {
  .sports-label {
    font-size: 21px !important;
  }
}


/* styles.css */
.error-message {
  background-color: #ffdddd;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 10px;
  margin: 10px 0;
}
