.ftco_section {
  margin: 100px 200px 32px 200px;

  position: relative;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  height: 150%;

  padding-bottom: 50px;
}
.pb_1 {
  padding-bottom: 0.25rem !important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 2vw;
  justify-content: space-around;
}
.justify_content_center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.scrollablediv {
  height: 60vh;
  z-index: 1;
  position: relative;
  overflow: auto;
  /* margin-bottom: 5%; */
  width: 100%;
  border-radius: 20px;
}

/* Customize scrollbar appearance (optional) */
.scrollablediv::-webkit-scrollbar {
  width: 10px;
}

.scrollablediv::-webkit-scrollbar-thumb {
  background-color: #760e53;
  border-radius: 200px;
}
.maindiv {
  padding-bottom: 10px;
  z-index: 1;
  position: relative;
  /* overflow: auto; */
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  border-radius: 20px;
}
.maindiv_top {
  display: flex;
  flex-direction: row;
  height: 92px;
}
.options {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5625rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  padding-right: 3.8rem;
}

.mb_1 {
  margin-bottom: 0.25rem !important;
}
h3 {
  font-family: 'Poppins', sans-serif;
  padding: 0% 5px;
  font-weight: 600;
}
h3:hover {
  color: #760e53;
  /* border-bottom: 0.1875rem solid #760e53; */
}
.H2 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #760e53;
  width: 100%;
  padding-left: 40px;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
}
.navbar_item:hover {
  background-color: #760e53;
  color: white;
}
/* Add your CSS for styling the horizontal navbar */

.horizontal_navbar_container {
  padding: 0px 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* HorizontalNavbar.css */

.horizontal_navbar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Hide the horizontal scrollbar */
  white-space: nowrap;
  gap: 10px; /* Adjust the gap between items */
  max-width: 100%; /* Adjust the maximum width as needed */
  padding: 10px; /* Add padding as needed */
}
.horizontal_navbar::-webkit-scrollbar {
  width: 0%;
  height: 0px;
}
.navbar_item {
  border-radius: 2.1875rem; /* Add border radius or styles as needed */
  border: 2px solid #760e53;
  color: #760e53;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 0.5625rem 2.0625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}
.svg_arrow {
  margin: 0px 10px;
  width: 2.7rem;
  height: 1.17281rem;
}
p {
  margin-bottom: 0;
}
select {
  background: transparent;
  border: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5625rem;
  padding: 15px 40px;
  cursor: pointer;
  border-bottom: transparent;
  text-align: center;
  border-radius: 20px;
}
option{
  border: none;
}
a {
  cursor: pointer;
}
@media (max-width: 993px) {
  .maindiv_top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .H2 {
    padding-left: 0px;
    justify-content: center;
  }
  .options {
    padding: 0px;
  }
  .scrollablediv::-webkit-scrollbar {
    width: 0px;
  }
  .svg_arrow {
    width: 0px;
    margin: 0px;
  }
}
@media (max-width: 610px) {
  .horizontal_navbar_container {
    padding: 0px;
  }

  .ftco_section {
    margin: 25% 5.5% 2.5% 5.5%;
  }
  select {
    padding: 8px;
  }

  select {
    font-size: 1rem;
  }
}
@media (max-height: 860px) {
  .scrollablediv {
    height: 50vh;
  }
}
@media (max-height: 690px) {
  .scrollablediv {
    height: 40vh;
  }
}
@media (max-height: 575px) {
  .scrollablediv {
    height: 30vh;
  }
}
@media (max-height: 495px) {
  .scrollablediv {
    height: 20vh;
  }
}
@media (max-width: 920px) {
  .ftco_section{
    margin: 100px 100px 32px 100px;
  }
}
@media (max-width: 540px) {
  .ftco_section{
    margin: 100px 50px 32px 50px;
  }
}
@media (max-width: 450px) {
  .ftco_section{
    margin: 100px 30px 32px 30px;
  }
}
@media (max-width: 395px) {
  .ftco_section{
    margin: 100px 11px 32px 11px;
  }
}
body {
  max-width: calc(100vw - 17px);
}

@media (pointer: coarse) {

  body {
width: 100vw;
  }
}
