.displayBox {
  width: 30.9375rem;
  height: 11.25rem;
  flex-shrink: 0;
  background-color: #fff;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.displayBox:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0px 0px 1px 2px #760e53;
}
.row1 {
  display: inline-flex;
  justify-content: space-between;
  color: #760e53;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5625rem; /* 138.889% */
}
.row2 {
  margin-top: 0.31rem;
  color: #828282;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5625rem; /* 156.25% */
  display: flex;
  gap: 2px;
  top: 3px;
}
p {
  height: fit-content;
  color: black;
}
.x {
  color: #000;
  /* font-family: Poppins;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600; */
  /* line-height: 1.5625rem; 71.429% */
  /* padding: 9px 0px 2rem 0px; */
}
.x img{
  height: 50px;
  width: 50px;
}
.score {
  color: #760e53;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5625rem; /* 138.889% */
}
.row3 {
  margin-top: 0.94rem;
  display: flex;
  flex-direction: row;
  color: #760e53;
  text-align: center;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5625rem; /* 156.25% */
  /* margin: auto; */
  justify-content: center;
}
.rectangle {
  width: 3.75rem;
  height: 2.1875rem;
  /* flex-shrink: 0; */
  border-radius: 0.3125rem;
  background: #d9d9d9;
  margin-bottom: 0.63rem;
}
.row4 {
  align-items: center;
  display: grid;
  /* flex-direction: column; */
  width: 12.5rem;
  justify-content: center;
  justify-items: center;
}
.Supreme {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns in each row */
  justify-content: center;
  padding-left: 3%;
}
svg {
  cursor: pointer;
}
td {
  margin: 2px 5px;
}
@media (max-width: 1500px) {
  .displayBox {
    width: 23rem;
  }
  .Supreme {
    padding-left: 2%;
  }
}
@media (max-width:1230px) {
  .displayBox{
    width: 17rem;
    height: auto;
  }
}
@media (max-width:1050px) {
  .Supreme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .displayBox{
    width: 22rem;
  }
}
@media (max-width: 993px) {
  .displayBox {
    width: 30rem;
  }
  .Supreme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 720px) {
  .displayBox {
    width: 95%;
  }
}
@media (max-width: 610px) {
  .displayBox {
    width: 95%;
    height: 25%;
    flex-shrink: 0;
    margin: 0.47rem;
  }
  .row4 {
    grid-template-rows: 2fr 2fr 1fr;
  }
  .x img{
    height: 30px;
    width: 30px;
  }
}

