.row_db {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.hidden-xs {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hidden-xs{
  font: Poppins;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.header-top i {
  font-size: 18px;
}

.header-top {
  margin: 0;
  padding-top: 2px;
}

.header-top img {
  border-radius: 50%;
  max-width: 48px !important;
  width: 100%;
}

.header-top i {
  color:#760E53;
}

.header-top li {
  display: inline-block;
  text-align: center;
}

.header-top .dropdown-toggle {
  color: rgba(118, 14, 83, 1);
  background-color: transparent;
  border-color: transparent;
}

.header-top .dropdown-menu {
  border: medium none;
  left: -124px;
  padding: 17px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  header .header-top img {
    max-width: 38px !important;
  }

  .v-align header {
    padding: 12px 15px;
  }

  header .header-top li {
    padding-left: 13px;
    padding-right: 6px;
  }
}

.register-now {
  background: white none repeat scroll 0 0;
  border: 2px solid #760E53;
  border-radius: 100px ;
  color: #760E53;
  font:Poppins;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  position: relative;
  margin-right: 20px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media only screen and (max-width: 767px) {
  .register-now {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
}

.register-now::before {
  background-color: transparent;
  text-decoration: none;
  height: 5vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem !important;
  padding: 9px, 33px, 9px, 33px;
  border-radius: 35px;
  border: 1px;
  gap: 10px;
  border: 1px solid rgba(118, 14, 83, 1);
  display: flex;
  margin:2.5rem;
  font-weight: 700;
  color: #760E53;}

.register-now:hover {
  background-color: #760E53;
  color: white;
  transition: ease-out;
  transition-duration: 300ms;
}

/* .register-now:focus {
  color: #ffffff;
} */

.dropdown-toggle::after {
  display: inline-block;
  width: 0 ;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 47px;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 1128px;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: black;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu[x-placement^='top'],
.dropdown-menu[x-placement^='right'],
.dropdown-menu[x-placement^='bottom'],
.dropdown-menu[x-placement^='left'] {
  right: auto;
  bottom: auto;
}

.navbar-content > span {
  font-size: 20px;
  font-weight: 500;
}

.text-muted {
  color: rgba(177, 177, 177, 1) !important;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

@media screen and (max-width: 850px) {
  .hidden-xs {
    display: none !important;
  }
}

.mine_left {
  float: left;
}

@media screen and (min-width: 768px) {
  .left_content {
    display: flex;
    /* justify-content: space-between; */
    align-items: space-between;
  }
}

.closed_drp {
  display: none !important;
}

.view_db {
  background: white none repeat scroll 0 0;
  border-radius: 100px;
  border:2px solid #760E53;
  width: Fixed (150px);
  height: Fixed (35px);
  font:Poppins;
  color: #760E53;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 9px, 33px, 9px, 33px;
}

.view_db:hover {
  color: #ffffff;
  background: #760E53 none repeat scroll 0 0;
}

.view_db:focus {
  color: #ffffff;
}

.divider {
  border: 1px solid grey;
}

.register-now,
.register-now:hover,
.register-now:focus {
  /* color: inherit; */
  text-decoration: none;
  transition: all 0.3s;
}

.profile_db,
.profile_db:hover,
.profile_db:focus {
  /* color: inherit; */
  text-decoration: none;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .left_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .size_Correct {
    font-size: 1.2rem !important;
  }
}
.navbar1{
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}