hr {
  width: 90%;
}
.heading123 {
  color: #760e53;
  padding-top: 2%;
}
#contactus {
  position: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 1%;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 8px;
  height: 80%;
  margin: 100px 200px 32px 200px;
  font-size: small;
  position: fixed;
}
.content123 {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  overflow-y: auto;
  padding-right: 4rem;
}
.content123::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}

.content123::-webkit-scrollbar-thumb {
  background-color: #760e53;
  border-radius: 200px;
}
.events,
.convenor,
.links {
  border-bottom: 2px solid black;
  padding: 4vh 0.5vw;
  height: 50%;
}

.ftco_footer {
  font-size: 16px;
  /* padding: 1em 0; */
  background: #120f0f40;
  display: block;
  box-sizing: border-box;
}

.ftco_section {
  position: relative;
}
.logo {
  padding: 5%;
}
.h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.links {
  text-align: left;
}
i {
  margin-right: 25px;
}
.block_23 {
  padding: 0;
}
.name {
  color: #760e53;
  font-weight: bold;
}
i {
  padding: 3%;
}
.socialmedia {
  padding: 5%;
  filter: grayscale(100%);
}
.socialmedia:hover {
  scale: 1.1;
  filter: grayscale(0%);
  transition: 300ms;
}
.text {
  display: table-cell;
  vertical-align: top;
  color: #ffffff;
  font-size: 16px;
}
.ftco_foote_social {
  padding-left: none;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  /* margin-right: -15px; */
  overflow-x: hidden;
}
.link {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    text-align: center;
    /* margin-top: 80px; */
  }
  h6 {
    font-size: small;
  }
  .content123 {
    width: 100%;
  }
  .convpubl,
  .evehosp,
  .linkfollow {
    width: 100%;
  }
  .events,
  .hospitality,
  .publicity,
  .convenor,
  .links {
    border-bottom: 2px solid black;
    padding: 2vh 0.5vw;
    height: fit-content;
  }
  .events,
  .hospitality,
  .publicity,
  .convenor {
    text-align: left;
  }
}
@media (max-width: 320px) {
  .container {
    margin-left: 4%;
    margin-right: 4%;
  }
}
@media (max-width: 730px) {
  .container{
    margin: 100px 100px 32px 100px;
  }
}
@media (max-width: 540px) {
  .container{
    margin: 100px 50px 32px 50px;
  }
}
@media (max-width: 450px) {
  .container{
    margin: 100px 30px 32px 30px;
  }
}
@media (max-width: 395px) {
  .container{
    margin: 100px 11px 32px 11px;
  }
}
@media (max-width: 350px) {
  .content123{
    padding-right: 0px;
  }
}
@media (max-width:1450px) {
  .links{
    height: 60%;
  }
}