hr {
  width: 90%;
}
.heading123 {
  color: #760e53;
  padding-top: 2%;
}
#contactus {
  position: fixed;
}
.abcd {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 2%;
  height: 80%;
  margin: 4% 10% 0;
  font-size: small;
}
.content123 {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.events,
.hospitality,
.publicity,
.convenor,
.links,
.followus {
  border-bottom: 2px solid black;
  padding: 4vh 0.5vw;
  height: 50%;
}

.ftco_footer {
  font-size: 16px;
  padding: 1em 0;
  background: #120f0f40;
  display: block;
  box-sizing: border-box;
}

.ftco_section {
  position: relative;
}
.logo {
  padding: 5%;
}
.h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.links {
  text-align: left;
}
i {
  margin-right: 25px;
}
.block_23 {
  padding: 0;
}
.name {
  color: #760e53;
  font-weight: bold;
}
i {
  padding: 3%;
}

.text {
  display: table-cell;
  vertical-align: top;
  color: #ffffff;
  font-size: 16px;
}
.ftco_foote_social {
  padding-left: none;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  /* margin-right: -15px; */
  overflow-x: hidden;
}
.link {
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .abcd {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10%;
  }
  h6 {
    font-size: small;
  }
  .content123 {
    width: 100%;
  }
  .convpubl,
  .evehosp,
  .linkfollow {
    width: 100%;
  }
  .events,
  .hospitality,
  .publicity,
  .convenor,
  .links,
  .followus {
    border-bottom: 2px solid black;
    padding: 2vh 0.5vw;
    height: fit-content;
  }
  .events,
  .hospitality,
  .publicity,
  .convenor {
    text-align: left;
  }
}
@media (max-width: 320px) {
  .abcd {
    margin-left: 4%;
    margin-right: 4%;
  }
}
