*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(171, 172, 170);
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 35px;
    font-weight: 600;
}
.course p{

    color: #3f3f3c;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0  0 20px 0px rgba(0,0,0,0.2);
}
@media (max-width:900px){
    .row{
        flex-direction: column;
    }
}
.hero-btn{
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: green;
}
.hero-btn:hover{
    border: 1px solid rgb(0, 0, 0);
    background: rgb(9, 56, 18);
    transition: 300ms;
}