@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@media only screen and (max-width: 600px) {
  #overlay-text {
    font-size: 12px;
  }
}

#guests-video {
  /* background-image: url('./../../../assets/bg/bg_football.jpg'); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#testimonials {
  background-image: url('./../../../assets/bg/bg_basketball.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#video1 {
  outline: none;
}

#video1:hover {
  cursor: pointer;
}

.container_guests video {
  display: block;
  z-index: 0;
}

#overlay-text {
  position: absolute;
  top: 5%;
  left: 10px;
  z-index: 1;
  font-size: 18px;
  text-shadow: 1px 1px black;
  color: white;
}

@media only screen and (max-width: 600px) {
  #overlay-text {
    font-size: 12px;
  }
}

#video {
  padding: 0;
}

/* .bg_class_guest1 {
  background-image: url('./../../../assets/testimonials/testi-1.jpg');
}

.bg_class_guest2 {
  background-image: url('./../../../assets/testimonials/testi-2.jpg');
}

.bg_class_guest3 {
  background-image: url('./../../../assets/testimonials/testi-3.jpg');
}

.bg_class_guest4 {
  background-image: url('./../../../assets/testimonials/testi-4.jpg');
}

.bg_class_guest5 {
  background-image: url('./../../../assets/testimonials/testi-5.jpg');
}

.bg_class_guest6 {
  background-image: url('./../../../assets/testimonials/testi-6.jpg');
}

.bg_class_guest7 {
  background-image: url('./../../../assets/testimonials/testi-7.jpg');
}

.bg_class_guest8 {
  background-image: url('./../../../assets/testimonials/testi-8.jpg');
}

.bg_class_guest9 {
  background-image: url('./../../../assets/testimonials/testi-9.jpg');
}

*/

#guests .col-md-3,
.col-lg-3 {
  padding-left: 20px;
  padding-right: 20px;
}

#guests {
  padding-left: 20px;
  padding-right: 20px;
}

.img-guests {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .guest-text {
    font-size: 15px;
  }

  #guests {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .col-6 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.ftco-section_guests {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section_guests {
    padding: 6em 0;
  }
}

.container-fluid_guests {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row_guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.justify-content-center_guests {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.heading-section_guests {
  z-index: 0;
}

.heading-section_guests .subheading_guests {
  font-size: 28px;
  display: block;
  margin-bottom: 15px;
  margin-left: 15px;
  color: #000;
  line-height: 1;
  z-index: 1;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: 'League Spartan';
}

.heading-section_guests h2 {
  z-index: -1;
  font-size: 50px;
  position: relative;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin-left: 15px;
  font-family: 'League Spartan';
}

@media (max-width: 767.98px) {
  .heading-section_guests h2 {
    font-size: 30px;
  }

  .heading-section_guests .subheading_guests {
    font-size: 18px;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

.img-fluid_guests {
  max-width: 100%;
  height: auto;
}

.img-guests {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: auto;
  border-radius: 20px;
}

.img-guests:hover {
  -webkit-box-shadow: 0px 3px 66px -24px white;
  -moz-box-shadow: 0px 3px 66px -24px white;
  box-shadow: 0px 3px 66px -24px white;
  border-color: #fff;
  transform: scale(1.01, 1.01);
}

.middle_guests {
  margin-bottom: 15px;
  text-align: center;
}

.guest-text {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  color: white;
}

.ftco-section_guests {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section_guests {
    padding: 6em 0;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: '';
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.85714%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.btn_guests {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn_guests {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.btn_guests:hover,
.btn_guests:focus {
  text-decoration: none;
}

.btn_guests:focus,
.btn_guests.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(120, 213, 239, 0.25);
}

.btn_guests.disabled,
.btn_guests:disabled {
  opacity: 0.65;
}

.btn_guests:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn_guests:not(:disabled):not(.disabled):active,
.btn_guests:not(:disabled):not(.disabled).active {
  background-image: none;
}

a.btn_guests.disabled,
fieldset:disabled a.btn_guests {
  pointer-events: none;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

@media screen and (min-width: 576px) {
  #video {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  #video {
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .para_guests {
    font-size: 17px;
    margin: -11px;
  }
}

@media screen and (max-width: 900px) {
  .para_guests {
    font-size: 20px;
    font-weight: 500;
  }
}
 /* Adding brightness of darken images */
 #sardar-singh{
  filter: brightness(3);
}
#deepa-malik{
  filter: brightness(1.5);
}
#sajjan{
  filter: brightness(1.7);
}
#dilip{
  filter: brightness(1.5);
}
#dhanraj{
  filter: brightness(1.2);
}
#shikha{
  filter: brightness(1.4);
}
#praveen{
  filter: brightness(1.3);
}
#sushma{
  filter: brightness(1.4);
}
#amit{
  filter: brightness(1.3);
}
#anjum{
  filter: brightness(1.3);
}
#tania{
  filter: brightness(1.4);
}