<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Manager</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/manager/all">Full Export</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Event export
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for game in gamesdata %}
                            <a class="dropdown-item" href="/manager/game/{{game.id}}">{{game.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>
                </ul>
                <form class="d-flex" id="perform">
                    <input class="form-control me-2" type="search" placeholder="Search User" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Player/Captain</th>
            <th scope="col">College</th>
            <th scope="col">Game</th>
            <th scope="col">Total Members</th>
            <th scope="col">Export</th>
          </tr>
        </thead>
        <tbody>
            <tr scope="row" style="display:none;" id="empty">
                <th><h2>No Users Found</h2></th>
            </tr>
        {% for user in usersdata %}
          <tr class="data">
            <th scope="row" class="name">{{user.name}}</th>
            <td>{{user.player}}</td>
            <td>{{user.institution_name}}</td>
            <td>{{user.game}}</td>
            <td>{{user.members}}</td>
            <td> <a href="/manager/user/{{user.id}}/{{user.name}}/" class="btn btn-warning">Download</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $('#perform').submit(function (e) {
            var search=document.getElementsByClassName('form-control')[0].value;
            e.preventDefault();
            document.getElementById("empty").style.display = "table-row";
            nodes=document.getElementsByClassName('data');
            for (var i = 0; i < nodes.length; i+=1) {
                if (nodes[i].innerHTML.toLowerCase().search(search) == -1) {
                    nodes[i].style.display = "none";
                }
                else {
                    console.log(nodes[i].innerHTML.toLowerCase());
                    nodes[i].style.display = "table-row";
                    document.getElementById("empty").style.display = "none";
                }
            }
        });
    </script>
</body>

</html>